.player-poster {
    background-color: rgb(35, 83, 61);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.player-error {
    background-color: rgb(131, 49, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}